﻿<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Homework</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Roboto Mono', monospace;
    }

    table {
      border: solid 1px;
    }
    table td {
      border: solid 1px;
      padding: 5px;
    }
  </style>
</head>

<body>
  <a href="/">/Back</a>

  <br><br>

  <form action="/github" method="GET">
    Search: <input type="text" name="q" value="<%=q%>">
    Page: <input type="text" name="page" value="<%=page%>">
    <input type="submit" value="Search">
  </form>

  <br>

  <table id="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(item) { %>
        <tr>
          <td><%=item.id%></td>
          <td><a href="<%=item.url%>" target="_blank"><%=item.name%></a></td>
          <td><%=item.description%></td>
          <td><a href="<%=item.owner_url%>" target="_blank"><%=item.owner_name%></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <br>

  <a href="/github?q=<%=q%>&page=<%=prev%>">Prev</a>
  <a href="/github?q=<%=q%>&page=<%=next%>">Next</a>

  <div>Showing <%=from%> to <%=to%> of <%=total_count%> entries</div>

  <script src=https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js></script>
  <script></script>
</body>

</html>
